---
layout: default
title: Innovate
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  title: "En Innovate"
  sub_title: |
    Brindamos soluciones tecnológicas personalizadas para optimizar procesos y mejorar el rendimiento.
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/innovate/img/home/opcion4.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"


slider_area:
  enable: true
  title: "En Innovate"
  sub_title: "Brindamos soluciones tecnológicas personalizadas para optimizar procesos y mejorar el rendimiento empresarial, desde consultoría hasta desarrollo de software e inteligencia artificial."
  image: ""
  bg_image: "/assets/images/art/slider-bg6.jpg"

clients_carousel:
  enable: true
  title: "Nuestros Clientes"


two_coumns_one:
  enable: true
  title: "Why Choose Us?"
  sub_title: "Here are a few reasons why our customers choose the Snowlake app."
  image: "/assets/images/art/iphone3.png"
  lists:
    - title: "Bills & Scheduled Transactions"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      icons: "/assets/images/icons/st-shield.png"

    - title: "Reports & Forecasting"
      description: |
        Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
      icons: "/assets/images/icons/ui-bill.png"
  

    - title: "Always up to date"
      description: |
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes.
      icons: "/assets/images/icons/ms-cloud-computing.png"


services_area:
  enable: true
  title: "Nuestras Capacidades Tecnológicas"
  sub_title: "Innovación y eficiencia a través de soluciones tecnológicas avanzadas."
  services:

    - title: "Implementación de IA"
      image: "/assets/innovate/img/capacidades/ia.avif"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_IA.html"

    - title: "Implementación de BPM"
      image: "/assets/innovate/img/capacidades/BPM_564x564.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_BPM.html"

    - title: "Implementación de ERP"
      image: "/assets/innovate/img/capacidades/ERP_564x564.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_ERP.html"

    - title: "Implementación de CMS"
      image: "/assets/innovate/img/capacidades/cmsv2.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_CMS.html"

    - title: "Implementación de ECM"
      image: "/assets/innovate/img/capacidades/ECM_564x564.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_ECM.html"

    - title: "Implementación de CRM"
      image: "/assets/innovate/img/capacidades/crm.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_CRM.html" 

    - title: "Implementación de BI"
      image: "/assets/innovate/img/capacidades/inteligenceBiv2.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Más información"
      button_url: "/pages-capacidades-tecnologicas/implementacion_BI.html"
  
---
<style>
  .text-present{
      color: white;
      font-size: 50px;
      text-align: center;
      width: 100%;
    }
    .img-present{
      width: 500px;
      
    }
    .text-subtitulo{
      font-size: 25px;
      width: 70%;
      margin: 10px 130px;
      line-height: 50px;
    }
   .altura-present{
      height: 85vh;
    } 

    @media (min-width: 1200px) {
      .container{
        max-width: 1022px !important;
      }
    }
    @media (max-width: 995px) {
          .desktop {
              display: none;
          }
          .tablet {
              display: none;
          }
        .img-present{
        margin-top: 30px;
        width: 260px;
        }
        .text-present{
          font-size: 20px;
          margin-top: 20px;
        }
        .text-subtitulo{
          font-size: 14px;
          margin-top: 10px;
          margin: 0px 55px;
          line-height: 25px;
        }
        .altura-present{
        height: 65vh;
        }

        
      }
      @media (min-width: 600px) and (max-width: 990px) {
          .desktop {
              display: none;
          }
          .movil {
              display: none;
          }
      }
      @media (min-width: 992px) {
          .tablet {
              display: none;
          }
          .movil {
              display: none;
          }
         
      }
  </style>


<div class="content-wrapper">
{% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

<!-- Presentación -->
{% if page.hero_area.enable %}
<div class="wrapper dark-wrapper">
    <div class="rev_slider_wrapper fullwidth-container">
        <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
            <ul>
                <li data-transition="fade" data-thumb="">
                    <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                    <div>
                      <div class="row position-relative altura-present">
                          <div class="col-12 col-md-6 d-flex justify-content-center align-items-end align-items-md-center mb-0 ">
                            <div class="text-present">
                            {{page.hero_area.title}}
                        
                            <p class="text-subtitulo">{{page.hero_area.sub_title}}</p>
                            </div>
                      
                          </div>
                          <div class="col-12 col-md-6 position-relative d-flex justify-content-center align-items-center mb-0 " >
                              <img class="img-present"
                              src="/assets/innovate/img/personas/img5.jpg" alt="Código en pantalla">
                          </div>
                        </div>
                      </div>
                     </div>
         </div>
     </div>
                </li>
            </ul>
     <div class="tp-bannertimer tp-bottom"></div>
  </div>
        <!-- /.rev_slider -->
        <div class="divider">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
            </svg>
        </div>
    </div>
    <!-- /.rev_slider_wrapper -->
</div>
<!-- /.Presentación -->
{% endif %}

<!-- Clientes -->
<div class="wrapper">
  <div class="container inner" style="padding-bottom: 0rem !important;">
    {% if page.clients_carousel.enable %}
    <h2 class="title-color color-gray text-center">{{page.clients_carousel.title}}</h2>
    <div class="space20"></div>
        {% include clients_carousel.html %}
      <div class="space140"></div>
      <!-- /.owl-carousel -->
    {% endif %}
  </div>
</div>
<!-- / Clientes -->

<!-- Servicios -->
<div id="id_servicios" class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Nuestros Servicios</h2>
    <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab4-1">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/tools-and-utensils.png" alt=""></div><span>IA y Aprendizaje Automático</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-2">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/ms-cloud-computing.png" alt=""></div><span>Servicios en la Nube</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-3">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/shield.png" alt=""></div><span>Servicios de Ciberseguridad</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-4">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/sm-setting.png" alt=""></div><span>Desarrollo de Software a Medida</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab5-5">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/sm-analysis-1.png" alt=""></div><span>Consultoría Tecnológica</span>
        </a> </li>
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>           
    <div class="tab-content">
      <div class="tab-pane show active" id="tab4-1">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <!-- <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/concept7.png 1x, {{relative_url}}/assets/images/concept/concept7@2x.png 2x" alt="" /></figure> -->
                <img src="{{relative_url}}/assets/innovate/img/servicios/inteligencia-artificial.svg" alt="">
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Servicios de IA y Aprendizaje Automático</h2>
                <p>Ofrecemos soluciones avanzadas de Inteligencia Artificial (IA) y Aprendizaje Automático (ML) diseñadas para transformar sus datos en insights accionables y automatizar procesos complejos. Nuestro enfoque se centra en desarrollar soluciones personalizadas que impulsen la innovación, mejoren la eficiencia operativa y generen valor para su negocio.</p>
              </div>
              <div class="text-center"><a class="more" href="/page-servicios/servicio_IA.html">Más información</a></div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-2">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <!-- <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/concept6.png 1x, {{relative_url}}/assets/images/concept/concept6@2x.png 2x" alt="" /></figure> -->
                <img src="{{relative_url}}/assets/innovate/img/servicios/servicio-nube.svg" alt="">
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Servicios en la Nube</h2>
                <p>Ofrecemos una gama completa de servicios en la nube diseñados para impulsar la agilidad, escalabilidad y eficiencia de su negocio. Nuestras soluciones aprovechan lo mejor de las tecnologías cloud para transformar sus operaciones y potenciar su crecimiento.</p>
              </div>
              <div class="text-center"><a class="more" href="/page-servicios/servicio_nube.html">Más información</a></div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-3">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pl-15 pr-md-0 pl-sm-0 h-100">
                <h2>Servicios de Ciberseguridad</h2>
                <p>Ofrecemos soluciones de ciberseguridad integrales y avanzadas diseñadas para proteger los activos digitales de su organización. Nuestro enfoque proactivo y multifacético garantiza la seguridad de su infraestructura, datos y operaciones en un panorama de amenazas en constante evolución.</p>
              </div>
              <div class="text-center"><a class="more" href="/page-servicios/servicio_ciberseguridad.html">Más información</a></div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pr-15 pl-md-0 pr-sm-0 h-100">
                <!-- <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/concept7.png 1x, {{relative_url}}/assets/images/concept/concept7@2x.png 2x" alt="" /></figure> -->
                 <img src="{{relative_url}}/assets/innovate/img/servicios/servicio-seguridad.svg" alt="">
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-4">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <!-- <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/concept6.png 1x, {{relative_url}}/assets/images/concept/concept6@2x.png 2x" alt="" /></figure> -->
                <img src="{{relative_url}}/assets/innovate/img/servicios/servicio-desarrollo-software.svg" alt="">
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Desarrollo de Software a Medida</h2>
                <p>Nos especializamos en crear soluciones de software personalizadas que se adaptan perfectamente a las necesidades únicas de su negocio. Nuestro enfoque se centra en desarrollar aplicaciones robustas, escalables y eficientes que impulsen su productividad y crecimiento.
                </p>
              </div>
              <div class="text-center"><a class="more" href="/page-servicios/servicio_software_medida.html">Más información</a></div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab5-5">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <!-- <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/concept6.png 1x, {{relative_url}}/assets/images/concept/concept6@2x.png 2x" alt="" /></figure> -->
                <img src="{{relative_url}}/assets/innovate/img/servicios/consultoria-tecnologica.svg" alt="">
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Consultoría Tecnológica</h2>
                <p>Ofrecemos servicios de consultoría tecnológica de primer nivel para ayudar a su negocio a navegar el complejo mundo de la tecnología y alcanzar sus objetivos estratégicos.</p>
              </div>
              <div class="text-center"><a class="more" href="/page-servicios/servicio_consultoria_tecnologica.html">Más información</a></div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</div>
<!-- / Servicios -->

<!-- Capacidades técnicas -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <!--/testimonials-->
    {% if page.services_area.enable %}
      <div class="testimonials-wrapper">

      
      <!-- Título y subitulo -->
      {% if page.services_area.enable %}
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>	
      {% endif %}
      <!--/.Título y subitulo --> 

      <div class="space20"></div>
      <div class="grid-view d-flex justify-content-center">
        <div class="row text-center align-items-end carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="true" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
          
          {% for service in  page.services_area.services  %}
          <div class="">
            {% if service.image %}
            <div class="img-blob blob8 mb-30">
              <img src="{{service.image}}" style="width: 16rem" alt="{{service.title}}"/>
            </div>
            {% endif %}
            <h4>{{service.title}}</h4>
            <p class="mb-15">{{service.description}}</p>
            {% if service.button_text %}
             <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
      </div>
      {% endif %}
      <!--/.testimonials-->

  </div>
</div>
<!-- / Capacidades técnicas -->

<!--contact-->

{% include contact.html %}
<!-- /contact-->

{% include footer.html %}


</div>    