---
layout: default
title: BI - Innovate
custom_css: purple
custom_font: font2


hero_area:
  enable: true
  title: ""
  sub_title: |
    Business Process Management
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/images/art/bg6.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"

services_area:
  enable: true
  title: "Business Process Management"
  sub_title: "Impulsa la eficiencia operativa con nuestra solución de Business Process Management"
  services:

    - title: ""
      image: "/assets/innovate/img/capacidad/bpm.jpg"
      description: |
        En INNOVATE, comprendemos que la eficiencia operativa es crucial para el éxito empresarial. Nuestra solución de Business Process Management (BPM) está diseñada para optimizar y automatizar los procesos empresariales, mejorando la eficiencia y reduciendo los costos operativos.

two_columns_area_one:
  enable: true
  title: "¿Qué es?"
  sub_title: "Optimiza tus procesos de negocio con nuestra solución integral de gestión de procesos"
  image: "/assets/innovate/img/capacidad/BPM-02.jpg"
  description: "Business Process Management (BPM) es un enfoque sistemático para hacer que los flujos de trabajo de una organización sean más efectivos, eficientes y capaces de adaptarse a un entorno de negocio en constante cambio. BPM se centra en la identificación, diseño, ejecución, monitoreo y optimización de procesos empresariales."

---
<div class="content-wrapper">
    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

  <!-- Presentación -->
  {% if page.hero_area.enable %}
  <div class="wrapper dark-wrapper">
      <div class="rev_slider_wrapper fullwidth-container">
          <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
              <ul>
                  <li data-transition="fade" data-thumb="">
                      <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                      <div
                          class="tp-caption font-weight-600 color-white text-center"
                          data-x="center"
                          data-y="middle"
                          data-voffset="['-165','-165','-165','-145']"
                          data-fontsize="['50','50','35','30']"
                          data-lineheight="['65','65','50','45']"
                          data-width="['1000','1000','600','340']"
                          data-textAlign="['center','center','center','center']"
                          data-whitespace="['normal','normal','normal','normal']"
                          data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          data-responsive="on"
                          data-responsive_offset="on"
                          style="z-index: 9;"
                      >
                          {{page.hero_area.title}}
                      </div>
                      <!-- /.tp-caption -->
                      <div
                          class="tp-caption font-weight-400 color-white text-center"
                          data-x="center"
                          data-y="middle"
                          data-voffset="['-80','-80','-80','-60']"
                          data-fontsize="['50','50','35','30']"
                          data-fontsize="['60','55','55','55']"
                          data-width="['600','600','600','340']"
                          data-textAlign="['center','center','center','center']"
                          data-whitespace="['normal','normal','normal','normal']"
                          data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          data-responsive="on"
                          data-responsive_offset="on"
                          style="z-index: 9;"
                      >
                          {{page.hero_area.sub_title}}
                      </div>
                  </li>
              </ul>
              <div class="tp-bannertimer tp-bottom"></div>
          </div>
          <!-- /.rev_slider -->
          <div class="divider">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                  <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
              </svg>
          </div>
      </div>
      <!-- /.rev_slider_wrapper -->
  </div>
  {% endif %}
  <!-- /.Presentación -->

    <div class="wrapper light-wrapper">
        <div class="container inner">
            {% if page.services_area.enable %}
            <div class="services-area">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                    <div class="space140"></div>
                    <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
                    <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
                    <div class="space40"></div>
                </div>
            </div>
            {% for service in page.services_area.services %}
            {% assign chck_number = forloop.index | modulo: 2 %}
            <!--/.row -->
            <div class="space120"></div>
            <div class="row align-items-center">
                {% if service.image %}
                <div class="col-lg-6 order-lg-{{chck_number}}">
                <div class="img-blob blob15">
                    <img src="{{service.image}}" style="width: 30rem" alt="{{service.title}}"/>
                </div>
                </div>
                {% endif %}
                <div class="space30 d-none d-md-block d-lg-none"></div>
                <div class="col-lg-6 pr-60 pr-md-15">
                <h3>{{service.title}}</h3>
                <div class="space10"></div>
                <p>{{service.description}}</p>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            {% endfor %}
            </div>
            {% endif %}

            {% if page.two_columns_area_one.enable %}
            <div class="two-columns-one">
              <div class="space140"></div>
              <div class="row align-items-center">
                <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
                  {% if page.two_columns_area_one.image %}
                  <div class="img-blob blob7">
                    <img src="{{page.two_columns_area_one.image}}" style="width: 30rem" alt="{{page.two_columns_area_one.title}}"/>
                  </div>
                  {% endif %}
                </div>
                <!--/column -->
                <div class="space30 d-none d-md-block d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-md-15">
                  {% if page.two_columns_area_one.title %}
                   <h2 class="title-color color-default">{{page.two_columns_area_one.title}}</h2>
                  {% endif %}
                  {% if page.two_columns_area_one.sub_title %}
                   <h3 class="display-3">{{page.two_columns_area_one.sub_title}}</h3>
                  {% endif %}
                  <div class="space20"></div>
                  <div class="row">
                      <p class="ml-2">{{page.two_columns_area_one.description}}</p>
                  </div>
                  <!--/.row -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            </div>
            {% endif %}
        </div>
    </div>


  <!--contact-->
  {% include contact.html %}
  <!-- /contact-->

    {% include footer.html %}
</div>    