<div class="services-area">
    <div class="row">
        <div class="col-md-7 mx-auto">
        <div class="space140"></div>
        <h2 class="title-color color-gray text-center">¿Qué Abarcan Nuestros Servicios de IA y ML?</h2>
        <h3 class="display-3 text-center">¿Qué Abarcan Nuestros Servicios de IA y ML?</h3>
        <div class="space40"></div>
    </div>
</div>


<section class="section-card-expandible ">
    <div class="section-card-expandible-content">
        <div class="container">
            <input type="radio" name="slide" id="c1" checked>
            <label for="c1" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Consultoría y Estrategia de IA</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                    
                </div>
            </label>
            <input type="radio" name="slide" id="c2" >
            <label for="c2" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Análisis Predictivo y Prescriptivo</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c3" >
            <label for="c3" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Procesamiento del Lenguaje Natural (NLP)</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c4" >
            <label for="c4" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Visión por Computadora</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c5" >
            <label for="c5" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Sistemas de Recomendación</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c6" >
            <label for="c6" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Automatización de Procesos con IA</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c7" >
            <label for="c7" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Big Data y IA</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c8" >
            <label for="c8" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">IA en la Nube e IoT</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c9" >
            <label for="c9" class="card-expandible-item">
                <div class="card-expandible-item-row">
                    <div class="card-expandible-item-column-1">
                        <div class="card-expandible-content-vertical">Investigación y Desarrollo en IA</div>
                    </div>
                    <div class="card-expandible-item-column-2">
                        <div class="card-expandible-content-horizontal">
                            <h5>Evaluación de Oportunidades de IA</h5>
                            <p>Analizamos su negocio para identificar áreas donde la IA puede generar el mayor impacto.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Desarrollo de Hoja de Ruta de IA</h5>
                            <p>Creamos una estrategia personalizada para la implementación gradual de soluciones de IA en su organización.</p>
                        </div>
                        <div class="card-expandible-content-horizontal">
                            <h5>Asesoramiento en Ética de IA</h5>
                            <p>Guiamos la implementación ética de la IA, asegurando transparencia y responsabilidad.</p>
                        </div>
                    </div>
                </div>
            </label>
        </div>  
    </div>
</section>