  <footer class="{% if include.extra_class %} {{include.extra_class}} {% else %} dark-wrapper inverse-text {% endif %}">
    <div class="container inner">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="widget">
            <div class="d-flex justify-content-center">
              {{site.data.general_settings.logo_page}}
            </div>
          </div>
          <p class="text-center" style="margin-top: 31px;">{{site.data.general_settings.description}}</p>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-6 col-lg-4">
          <div class="widget">
            <h3 class="widget-title">Contáctenos</h3>
            <address>{{site.data.general_settings.address_01}}</address>
            <a href="mailto:{{site.data.general_settings.email}}">{{site.data.general_settings.email}}</a><br /> {{site.data.general_settings.phone_number}}
            
          </div>
          <!-- /.widget -->
          <div class="widget">
            {% if site.data.general_settings.social_accounts.title %}
            <h3 class="widget-title">{{site.data.general_settings.social_accounts.title}}</h3>
            {% endif %}
            <ul class="social social-mute social-s ml-auto">
              {% for social_info in site.data.general_settings.social_accounts.links %}
              <li><a href="{{social_info.url}}"><i class="{{social_info.icon}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-6 col-lg-4">
          <div class="widget">
            {% if site.data.general_settings.external_links.title %}
            <h3 class="widget-title">{{site.data.general_settings.external_links.title}}</h3>
            {% endif %}
            <ul class="list-unstyled">
             {% for external_link in site.data.general_settings.external_links.links %}
              <li><a href="{{external_link.url}}" class="nocolor">{{external_link.text}}</a></li>
             {% endfor %}
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
      <div class="space50"></div>
      {% if site.data.general_settings.copyright_text %}
      <p class="text-center mb-0">{{site.data.general_settings.copyright_text}}</p>
      {% endif %}
    </div>
    <!-- /.container -->
  </footer>