 <!-- Sección 02 - timeline -->
<div class="services-area">
    <div class="row">
        <div class="col-md-7 mx-auto">
        <div class="space140"></div>
        <h2 class="title-color color-gray text-center">Nuestro Enfoque</h2>
        <h3 class="display-3 text-center">sasda</h3>
        <div class="space40"></div>
    </div>
</div>

 <section class="section-timeline container">
    <div class="section-timeline-content">

        <div class="section-timeline-wrapper">

            <!-- 1 -->
            <div class="section-timeline-item">
                <article>
                    <div class="timeline-item-content">
                        Entendemos a fondo sus desafíos de negocio y objetivos.
                    </div>
                    <div class="timeline-item-title">
                        Descubrimiento
                    </div>
                </article>
                <div class="timeline-item-icon">
                    <i class="jam jam-search"></i>
                </div>
            </div>

            <!-- 2 -->
            <div class="section-timeline-item">
                <div class="timeline-item-icon">
                    <i class="jam jam-crop"></i>
                </div>
                <article>
                    <div class="timeline-item-title">
                        Diseño de Solución
                    </div>
                    <div class="timeline-item-content">
                        Desarrollamos una solución de IA/ML personalizada que se alinea con sus necesidades específicas.
                    </div>
                </article>                 
            </div>

            <!-- 3 -->
            <div class="section-timeline-item">
                <article>
                    <div class="timeline-item-content">
                        Construimos y desplegamos la solución utilizando metodologías ágiles.
                    </div>
                    <div class="timeline-item-title">
                        Desarrollo e Implementación
                    </div>
                </article>
                <div class="timeline-item-icon">
                    <i class="jam jam-grid"></i>
                </div>
            </div>

            <!-- 4 -->
            <div class="section-timeline-item">
                <div class="timeline-item-icon">
                    <i class="jam jam-task-list"></i>
                </div>
                <article>
                    <div class="timeline-item-title">
                        Pruebas y Refinamiento
                    </div>
                    <div class="timeline-item-content">
                        Realizamos pruebas exhaustivas y refinamos los modelos para asegurar precisión y rendimiento.
                    </div>
                </article>                 
            </div>

            <!-- 5 -->
            <div class="section-timeline-item">
                <article>
                    <div class="timeline-item-content">
                        Implementamos la solución en su entorno y proporcionamos monitoreo continuo.
                    </div>
                    <div class="timeline-item-title">
                        Despliegue y Monitoreo
                    </div>
                </article>
                <div class="timeline-item-icon">
                    <i class="jam jam-set-square"></i>
                </div>
            </div>

            <!-- 6 -->
            <div class="section-timeline-item">
                <div class="timeline-item-icon">
                    <i class="jam jam-arrow-square-up-right "></i>
                </div>
                <article>
                    <div class="timeline-item-title">
                        Mejora Continua
                    </div>
                    <div class="timeline-item-content">
                        Iteramos y mejoramos constantemente los modelos basándonos en nuevos datos y retroalimentación.
                    </div>
                </article>                 
            </div>
            
        </div>
        
    </div>

</section>