
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Sección 01 - tarjetas expandibles */

.section-card-expandible h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: var(--color-gray);
}

.section-card-expandible{
    height: 100vh;
}

.section-card-expandible-content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-card-expandible-content .container{
    height: 100%;
    display: flex;
}


.card-expandible-item{
    width: 80px;
    max-width: 100%;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    position: relative;


}
.card-expandible-content{
    position: absolute;
    top: 0;
}

.card-expandible-item > .card-expandible-item-row{
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    color: var(--color-amarillo-paleta-6);
}

.card-expandible-item > .card-expandible-item-row > .card-expandible-item-icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 8px;
}

.card-expandible-item-column-1{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    box-shadow: var(--color-amarillo-paleta-0) 0px 4px 12px;
}


.card-expandible-item-column-1:nth-child(1) {
   background-color: #f0eeeede;
}


.card-expandible-item-column-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition-delay: .3s;
    transition: all .3s ease;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}
.text-title-content-card{
    display: none;
}

.card-expandible-item-column-2 div:nth-child(2){
    background-color: #f0eeeef3;

}
.card-expandible-item-column-2 div:nth-child(3){
    background-color: #f0eeeede;
}
.card-expandible-item-column-2 div:nth-child(4){
    background-color: #f0eeeede;
}

.card-expandible-content-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.card-expandible-content-horizontal{
    margin-right: 3px;
    border-radius: 0.70rem;
    cursor: default;
}
.card-expandible-content-horizontal h5,
.card-expandible-content-horizontal p{
    margin: 13px;
}

.card-expandible-content-horizontal h5{
    font-size: 1em;
    color: var(--color-amarillo-paleta-6);
}
.card-expandible-content-horizontal p{
    font-size: .8em;
    color: var(--color-amarillo-paleta-5);
}
/* (odd): Para los elementos impares (1, 3, 5, ...) */
 .card-expandible-content-horizontal:nth-child(odd):hover{
    background-color: #f0eeeede;
}

/* (even): Para los elementos pares (2, 4, 6, ...) */
 .card-expandible-content-horizontal:nth-child(even):hover{
    background-color: #f0eeeede;
}

.card-expandible-item > .card-expandible-item-row > .card-expandible-item-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 420px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.card-expandible-item-column-2 .text-title-content-card{
    text-align: center;
}
.section-card-expandible-content .container input{
    display: none;
}

.section-card-expandible-content .container input:checked + label{
    width: 600px;
}

.section-card-expandible-content .container input:checked + label .card-expandible-item-column-1{
    display: none;
}
.section-card-expandible-content .container input:checked + label .card-expandible-item-column-2{
    opacity: 1 !important;
}
.section-card-expandible-content .container input:checked + label .card-expandible-item-column-2 .text-title-content-card{
    display: block !important;
}

.card-expandible-item[for="c1"] {
    background-image: url('https://www.imgworldsadventure.com/es');
}


@media (max-width: 992px) {

    /* Tarjetas expandibles para movil */
    .section-card-expandible-content{
        width: 100%;
    }

    .section-card-expandible-content .container{
        flex-wrap: nowrap; 
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        padding: 36px;
    }

    .card-expandible-item{
        width: 70px;
        flex: 0 0 auto;
        margin: 0 10px;
        scroll-snap-align: start; 
    }

    .card-expandible-item-column-1 {
        width: 175px;
    }

    .card-expandible-item-column-2{
        font-size: 0.9rem;
    }

    .card-expandible-item-column-2 h5{
        font-size: 0.9em;
    }
    .card-expandible-item-column-2 p{
        font-size: 0.8em;
    }

    .section-card-expandible-content .container input:checked + label {
        width: 350px;
    }

}

