---
layout: default
title: Consultoria Tecnológica - Innovate
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  title: ""
  sub_title: |
    Consultoría tecnológica
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/innovate/img/home/opcion1.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"


card_expandible_area:
  enable: true
  title: ""
  sub_title: "Nuestros Servicios de Consultoría Tecnológica en Detalle"
  cards:
      - title_card: "Estrategia Digital y Transformación"
        content_card:
            - sub_title: "Evaluación de madurez digital"
              description: |
                Analizamos el estado actual de su tecnología y procesos digitales, identificando áreas de mejora y oportunidades de crecimiento.
            - sub_title: "Planificación de transformación tecnológica"
              description: |
                Desarrollamos una hoja de ruta personalizada para implementar nuevas tecnologías y procesos que impulsen la eficiencia y la innovación en su organización.
            - sub_title: "Alineación de TI con objetivos de negocio"
              description: |
                Aseguramos que sus inversiones en tecnología estén directamente vinculadas a sus objetivos comerciales, maximizando el ROI.
      - title_card: "Optimización de Infraestructura"
        content_card:
            - sub_title: "Análisis y mejora de sistemas existentes"
              description: |
                Evaluamos su infraestructura actual, identificando cuellos de botella y recomendando mejoras para aumentar el rendimiento y la fiabilidad.
            - sub_title: "Recomendaciones para escalabilidad y eficiencia"
              description: |
                Diseñamos soluciones que permiten a su infraestructura crecer con su negocio, manteniendo la eficiencia operativa.
            - sub_title: "Estrategias de migración a la nube"
              description: |
                Planificamos y ejecutamos migraciones a la nube sin problemas, aprovechando las mejores prácticas para minimizar el tiempo de inactividad y maximizar los beneficios.
      - title_card: "Gestión de Proyectos Tecnológicos"
        content_card:
            - sub_title: "Planificación y supervisión de proyectos de TI"
              description: |
                Gestionamos sus proyectos tecnológicos de principio a fin, asegurando que se entreguen a tiempo y dentro del presupuesto.
            - sub_title: "Gestión de riesgos y recursos"
              description: |
                Identificamos y mitigamos proactivamente los riesgos potenciales, optimizando la asignación de recursos para el éxito del proyecto.
            - sub_title: "Implementación de metodologías ágiles"
              description: |
                Introducimos y adaptamos metodologías ágiles a su cultura organizacional para mejorar la flexibilidad y la velocidad de entrega.
      - title_card: "Seguridad de la Información"
        content_card:
            - sub_title: "Evaluaciones de vulnerabilidad y riesgo"
              description: |
                Realizamos auditorías exhaustivas de seguridad para identificar y priorizar las vulnerabilidades en sus sistemas y datos.
            - sub_title: "Desarrollo de políticas y procedimientos de seguridad"
              description: |
                Creamos políticas de seguridad integrales y procedimientos prácticos adaptados a las necesidades específicas de su organización.
            - sub_title: "Planificación de recuperación ante desastres"
              description: |
                Desarrollamos y probamos planes de continuidad del negocio y recuperación ante desastres para proteger sus operaciones críticas.

      - title_card: "Análisis de Datos y Business Intelligence"
        content_card:
            - sub_title: "Diseño de estrategias de datos"
              description: |
                Creamos estrategias para recopilar, almacenar y utilizar datos de manera efectiva, transformándolos en un activo estratégico para su empresa.
            - sub_title: "Implementación de soluciones de BI"
              description: |
                Seleccionamos e implementamos herramientas de BI que proporcionan insights accionables para la toma de decisiones informadas.
            - sub_title: "Optimización de procesos basados en datos"
              description: |
                Utilizamos análisis avanzados para identificar ineficiencias y oportunidades de mejora en sus procesos de negocio.
                
      - title_card: "Innovación Tecnológica"
        content_card:
            - sub_title: "Asesoramiento en tecnologías emergentes"
              description: |
                Le guiamos a través del panorama de tecnologías emergentes como IA, IoT y Blockchain, identificando oportunidades relevantes para su negocio.
            - sub_title: "Proof of Concept (PoC) para nuevas tecnologías"
              description: |
                Diseñamos y ejecutamos PoCs para validar el potencial de nuevas tecnologías en su contexto empresarial específico.
            - sub_title: "Desarrollo de hojas de ruta para innovación"
              description: |
                Creamos planes estratégicos a largo plazo para integrar innovaciones tecnológicas que mantengan su competitividad en el mercado.
      
timeline_area:
    enable: true
    title: "Nuestro Proceso de Consultoría"
    sub_title: "Estrategias personalizadas para impulsar el éxito y crecimiento sostenible de nuestros clientes."
    tabs:
      - title: "Evaluación Inicial"
        icon: "search"
        description: |
          Realizamos un análisis profundo de su situación actual, objetivos de negocio y desafíos tecnológicos.

      - title: "Propuesta Detallada"
        icon: "crop"  
        description: |
          Desarrollamos un plan de acción personalizado con recomendaciones específicas y resultados esperados.

      - title: "Implementación"
        icon: "grid"
        description: |
          Ejecutamos las soluciones recomendadas, trabajando en estrecha colaboración con su equipo.

      - title: "Seguimiento y Optimización"
        icon: "task-list"
        description: |
          Medimos resultados, proporcionamos informes detallados y ajustamos estrategias según sea necesario para garantizar el éxito continuo.

faq_area:
  enable: true
  title: "¿Por Qué Elegirnos?"
  sub_title: "Descubre la Diferencia: Calidad, Compromiso y Confianza en Cada Paso"
  image: "/assets/images/concept/concept2@2x.png"
  tabs:
    - question: "Experiencia Diversa"
      answer: |
        Nuestro equipo cuenta con consultores especializados en diversas áreas tecnológicas, asegurando una perspectiva integral.

    - question: "Enfoque Personalizado"
      answer: |
        Adaptamos nuestras soluciones a las necesidades específicas de su negocio, reconociendo que no existe un enfoque único para todos.

    - question: "Resultados Medibles"
      answer: |
        Nos centramos en ofrecer valor tangible y ROI demostrable, con métricas claras para cada proyecto.

    - question: "Visión a Largo Plazo*"
      answer: |
        No solo resolvemos problemas inmediatos, sino que preparamos su negocio para el futuro, anticipando tendencias y desafíos.
   

---
<style>
.text-present{
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0 20px;
    line-height: 55px;
    word-wrap: break-word;
  }
  .img-present{
    width: 500px;
  }
  .altura-present{
      height: 100vh;
    }
  @media (max-width: 576px){
    .altura-present{
      height: 65vh !important;
    }
    .text-present {
      font-size: 24px !important;
      line-height: 35px;
    }
  }
  @media (min-width: 1200px) {
    .container{
      max-width: 1022px !important;
    }
  }
  @media (max-width: 992px) {
        .desktop {
            display: none;
        }
        .tablet {
            display: none;
        }
      .img-present{
      width: 260px;
      }
      .text-present{
          font-size: 40px;
        }
        .altura-present{
      height: 80vh;
      margin: 20px 5px;
    }
    }
    @media (min-width: 600px) and (max-width: 990px) {
        .desktop {
            display: none;
        }
        .movil {
            display: none;
        }
    }
    @media (min-width: 992px) {
        .tablet {
            display: none;
        }
        .movil {
            display: none;
        }
       
    }

    
</style>

<div class="content-wrapper">

    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

  <!-- Presentación -->
  {% if page.hero_area.enable %}
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
        <ul>
            <li data-transition="fade" data-thumb="">
                <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                
                <div>
                  <div class="row position-relative altura-present" >
                      <div class="col-12 col-md-6 d-flex justify-content-center align-items-end align-items-md-center mb-0 ">
                        
                        <div class="text-present">
                        {{page.hero_area.sub_title}}
                        </div>

                      </div>
                      <div class="col-12 col-md-6 position-relative d-flex justify-content-center align-items-center mb-0 " >
                          <img class="img-present"
                          src="/assets/innovate/img/personas/img3.jpg" alt="Código en pantalla">
                          
                          
                      </div>
                        
                    </div>
                  </div>
                </div>
              </div>
                      <!-- /.tp-caption -->
                      <div
                          class="tp-caption font-weight-400 color-white text-center"
                          data-x="center"
                          data-y="middle"
                          data-voffset="['-80','-80','-80','-60']"
                          data-fontsize="['50','50','35','30']"
                          data-lineheight="[65','65','65','65']"
                          data-width="['600','600','600','340']"
                          data-textAlign="['center','center','center','center']"
                          data-whitespace="['normal','normal','normal','normal']"
                          data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          data-responsive="on"
                          data-responsive_offset="on"
                          style="z-index: 9;"
                      >
                          {{page.hero_area.sub_title}}
                      </div>
                  </li>
              </ul>
              <div class="tp-bannertimer tp-bottom"></div>
          </div>
          <!-- /.rev_slider -->
          <div class="divider">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                  <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
              </svg>
          </div>
      </div>
      <!-- /.rev_slider_wrapper -->
  </div>
  {% endif %}
  <!-- /.Presentación -->


    {% if page.timeline_area.enable %}

    <div class="services-area">
        <div class="row">
            <div class="col-md-7 mx-auto">
            <div class="space140"></div>
            <h3 class="display-3 text-center">{{page.card_expandible_area.sub_title}}</h3>
            <div class="space40"></div>
        </div>
    </div>
    <section class="section-card-expandible ">
        <div class="section-card-expandible-content">
            <div class="container">
                {% for card in page.card_expandible_area.cards %}
                <input type="radio" name="slide" id="c{{ forloop.index }}" {% if forloop.first %}checked{% endif %}>
                <label for="c{{ forloop.index }}" class="card-expandible-item">
                    <div class="card-expandible-item-row">
                        <div class="card-expandible-item-column-1">
                            <div class="card-expandible-content-vertical">{{card.title_card}}</div>
                        </div>
                        <div class="card-expandible-item-column-2">
                          <h5 class="text-title-content-card">{{card.title_card}}</h5>
                            {% for content in card.content_card%}
                            <div class="card-expandible-content-horizontal">
                                <h5>{{content.sub_title}}</h5>
                                <p>{{content.description}}</p>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </label>
                {% endfor %}
            </div>  
        </div>
    </section>
    {% endif %}

    {% if page.timeline_area.enable %}
    <div class="services-area">
        <div class="row">
            <div class="col-md-7 mx-auto">
            <div class="space140"></div>
            <h2 class="title-color color-gray text-center">{{page.timeline_area.title}}</h2>
            <h3 class="display-3 text-center">{{page.timeline_area.sub_title}}</h3>
            <div class="space40"></div>
        </div>
    </div>
    <section class="section-timeline container">
    
        <div class="section-timeline-content">
    
            <div class="section-timeline-wrapper">
              
              {% for item_timeline in page.timeline_area.tabs%}
              {% assign chck_number = forloop.index | modulo: 2 %}
                <!-- 1 -->
                <div class="section-timeline-item {% if chck_number == 1 %} flex-row {% else %} flex-row-reverse {% endif %}">
                    <article class="{% if chck_number == 1 %} flex-row {% else %} flex-row-reverse {% endif %}">
                        <div class="timeline-item-content">
                            {{item_timeline.description}}
                        </div>
                        <div class="timeline-item-title">
                          {{item_timeline.title}}
                        </div>
                    </article>
                    <div class="timeline-item-icon">
                        <i class="jam jam-{{item_timeline.icon}}"></i>
                    </div>
                </div>
              {% endfor %}

            </div>
            
        </div>
    
    </section>
    {% endif %}

    {% if page.faq_area.enable %}
    <div class="wrapper light-wrapper inner-bottom ">
        <div class="space140"></div>
        <div class="container">
            <div class="row">
                {% if page.faq_area.image %}
                <div class="col-lg-6">
                    <figure>
                        <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                    </figure>
                </div>
                {% endif %}
                <div class="space50 d-none d-md-block d-lg-none"></div>
                <div class="space10 d-md-none"></div>
                <div class="col-lg-6 pl-60 pl-md-15">
                    <h2 class="title-bg bg-default color-default" style="font-size: 15px;">{{page.faq_area.title}}</h2>
                    <div class="space10"></div>                    <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                    <div class="space20"></div>
                    <div id="accordion-2" class="accordion-wrapper simple">
                        {% for tab in page.faq_area.tabs %}
                        <div class="card">
                            <div class="card-header" id="accordion-heading-2-1">
                                <h5>
                                    <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                        {{tab.question}}
                                    </button>
                                </h5>
                            </div>
                            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>
                                        {{tab.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.accordion-wrapper -->
                </div>
            </div>
        </div>
    </div>
    {% endif %} 

  
  <!--contact-->
  {% include contact.html %}
  <!-- /contact-->


    {% include footer.html %}
</div>