---
layout: default
title: Snowlake - App Landing
custom_css: purple
custom_font: font2

slider_area:
  enable: true
  title: "En Innovate"
  sub_title: "Brindamos soluciones tecnológicas personalizadas para optimizar procesos y mejorar el rendimiento empresarial, desde consultoría hasta desarrollo de software e inteligencia artificial."
  image: "/assets/innovate/img/home/business-people-meeting.jpg"

contact_area:
  enable: true
  title: "Contáctanos"
  image: "/assets/images/art/map.png"
  sub_title: |
   ¿Interesado en nuestros servicios? <br class="d-none d-lg-block">¡Contáctanos hoy!
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Ca. 7 de Enero 225, Chiclayo"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "+51 954 498 176"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "innovate@gmail.com"
      email_02: "miguell@gmail.com"


---

<div class="content-wrapper">
    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

    {% if page.slider_area.enable %}
    <div class="wrapper dark-wrapper">
        <div class="rev_slider_wrapper fullwidth-container">
            <div id="slider4" class="rev_slider fullwidthbanner" data-version="5.4.7">
            <ul>
                <li data-transition="fade" data-thumb="">
                <img src="{{page.slider_area.image}}" alt="" />
            {% if page.slider_area.title %}
                <div class="tp-caption font-weight-600 color-white" 
                    data-x="['left','left','left','center']" 
                    data-y="middle" 
                    data-hoffset="['50','50','30','0']" 
                    data-voffset="['-90','-90','-90','-70']" 
                    data-fontsize="['44','44','38','30']" 
                    data-lineheight="['54','54','48','40']" 
                    data-width="['500','500','400','340']" 
                    data-textAlign="['left','left','left','center']" 
                    data-whitespace="['normal','normal','normal','normal']" 
                    data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                    data-responsive="on" 
                    data-responsive_offset="on" style="z-index: 9;">{{page.slider_area.title}} 
                </div>
            <!-- /.tp-caption -->
            {% endif %}
                {% if page.slider_area.sub_title %}
                <div class="tp-caption font-weight-400 color-white" 
                    data-x="['left','left','left','center']" 
                    data-y="middle" 
                    data-hoffset="['50','50','30','0']" 
                    data-voffset="['60','60','30','45']" 
                    data-fontsize="['26','26','19','18']" 
                    data-lineheight="['36','36','29','28']" 
                    data-width="['500','500','400','340']" 
                    data-textAlign="['left','left','left','center']" 
                    data-whitespace="['normal','normal','normal','normal']" 
                    data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                    data-responsive="on" 
                    data-responsive_offset="on" style="z-index: 9;">{{page.slider_area.sub_title}} 
                </div>
            <!-- /.tp-caption -->
            {% endif %}

                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
        </div>
    <!-- /.rev_slider_wrapper -->
    </div>
    <!-- /.wrapper -->
    {% endif %}


    {% include card_expandible.html %}

    {% include timeline.html%}

        <!--contact-->
    {% if page.contact_area.enable %}
    <div id="contact" class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.image}}">
    <div class="container inner">
        <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
            <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
            <div class="space50"></div>
            <div class="row text-center gutter-60">
            {% for contact_data in page.contact_area.contact_data %}
            <div class="col-md-4">
            {% if contact_data.icon %}
                <div class="icon icon-svg mb-20">
                <img src="{{contact_data.icon}}" alt="{{contact_data.icon}}"/>
                </div>
                {% endif %}
                {% if contact_data.info %}
                <p class="mb-0">{{contact_data.info}}</p>
                {% endif %}
                {% if contact_data.email_01 %}
                <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a></p>
                {% endif %}              
                {% if contact_data.email_02 %}
                <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a></p>
                {% endif %}
            </div>
            {% endfor %}
            <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    {% endif %}

    {% include footer.html %}

  <!--contact-->
  {% if page.contact_area.enable %}
  <div id="contact" class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.image}}">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
          <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
          <div class="space50"></div>
          <div class="row text-center gutter-60">
            {% for contact_data in page.contact_area.contact_data %}
            <div class="col-md-4">
             {% if contact_data.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{contact_data.icon}}" alt="{{contact_data.icon}}"/>
              </div>
              {% endif %}
              {% if contact_data.info %}
               <p class="mb-0">{{contact_data.info}}</p>
              {% endif %}
              {% if contact_data.email_01 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a></p>
              {% endif %}              
              {% if contact_data.email_02 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a></p>
              {% endif %}
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
    
</div>