---
layout: default
title: Servicio en la Nube - Innovate
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  title: ""
  sub_title: |
    Nube
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/innovate/img/home/opcion1.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"

card_expandible_area:
  enable: true
  title: ""
  sub_title: "Consultoría y Estrategia Cloud"
  cards:
      - title_card: "Evaluación de Preparación para la Nube"
        content_card:
            - sub_title: "Evaluación de Oportunidades de IA"
              description: |
                Analizamos su infraestructura actual y necesidades de negocio para determinar la mejor estrategia de adopción de la nube.
            - sub_title: "Planificación de Migración"
              description: |
                Desarrollamos un plan detallado para migrar sus aplicaciones y datos a la nube de manera eficiente y segura.
            - sub_title: "Optimización de Costos en la Nube"
              description: |
                Implementamos estrategias para maximizar el ROI de sus inversiones en la nube, optimizando el uso de recursos y reduciendo costos innecesarios.
      - title_card: "Implementación y Migración a la Nube"
        content_card:
            - sub_title: "Migración de Aplicaciones"
              description: |
                Trasladamos sus aplicaciones existentes a la nube, optimizándolas para aprovechar al máximo las ventajas del entorno cloud.
            - sub_title: "Migración de Datos"
              description: |
                Transferimos sus datos a la nube de manera segura, asegurando la integridad y disponibilidad de la información.
            - sub_title: "Implementación de Soluciones Nativas en la Nube"
              description: |
                Desarrollamos y desplegamos aplicaciones diseñadas específicamente para aprovechar las capacidades de la nube.
      - title_card: "Infraestructura como Servicio (IaaS)"
        content_card:
            - sub_title: "Gestión de Servidores Virtuales"
              description: |
                Configuramos y gestionamos servidores en la nube adaptados a sus necesidades específicas.
            - sub_title: "Almacenamiento en la Nube"
              description: |
                Implementamos soluciones de almacenamiento escalables y seguras para sus datos.
            - sub_title: "Redes Virtuales"
              description: |
                Diseñamos y gestionamos redes en la nube para garantizar una conectividad óptima y segura.
      - title_card: "Plataforma como Servicio (PaaS)"
        content_card:
            - sub_title: "Entornos de Desarrollo en la Nube"
              description: |
                Configuramos plataformas de desarrollo completas en la nube para acelerar el ciclo de vida de desarrollo de software.
            - sub_title: "Bases de Datos como Servicio"
              description: |
                Implementamos y gestionamos bases de datos en la nube, asegurando alta disponibilidad y rendimiento.
            - sub_title: "Contenedores y Orquestación"
              description: |
                Ofrecemos soluciones basadas en contenedores (como Docker y Kubernetes) para mejorar la portabilidad y escalabilidad de sus aplicaciones.
      - title_card: "Software como Servicio (SaaS)"
        content_card:
            - sub_title: "Implementación de Soluciones SaaS"
              description: |
                Ayudamos a seleccionar e implementar las mejores soluciones SaaS para sus necesidades empresariales.
            - sub_title: "Integración de SaaS"
              description: |
                Conectamos sus aplicaciones SaaS con otros sistemas para garantizar un flujo de datos sin problemas.
            - sub_title: "Personalización de SaaS"
              description: |
                Adaptamos soluciones SaaS para que se ajusten perfectamente a sus procesos de negocio.
      - title_card: "Seguridad en la Nube"
        content_card:
            - sub_title: "Evaluación de Seguridad en la Nube"
              description: |
                Realizamos auditorías exhaustivas para identificar y abordar vulnerabilidades en su entorno cloud.
            - sub_title: "Implementación de Controles de Seguridad"
              description: |
                Desplegamos soluciones de seguridad robustas, incluyendo cifrado, gestión de identidades y control de accesos.
            - sub_title: "Monitoreo Continuo y Respuesta a Incidentes"
              description: |
                Ofrecemos servicios de vigilancia 24/7 y respuesta rápida ante amenazas de seguridad.
      - title_card: "Gestión y Optimización Continua"
        content_card:
            - sub_title: "Monitoreo de Rendimiento"
              description: |
                Implementamos herramientas para supervisar constantemente el rendimiento de sus servicios en la nube.
            - sub_title: "Automatización y DevOps"
              description: |
                Aplicamos prácticas de DevOps y automatización para mejorar la eficiencia y la velocidad de despliegue.
            - sub_title: "Optimización Continua"
              description: |
                Realizamos ajustes regulares para asegurar que sus servicios en la nube estén siempre optimizados en términos de rendimiento y costo.

timeline_area:
  enable: true
  title: "Nuestro Enfoque"
  sub_title: "Estrategias personalizadas para impulsar el éxito y crecimiento sostenible de nuestros clientes."
  tabs:
    - title: "Evaluación"
      icon: "search"
      description: |
        Analizamos su infraestructura actual y objetivos de negocio.
    - title: "Diseño"
      icon: "crop"  
      description: |
        Creamos una arquitectura cloud personalizada que se adapta a sus necesidades específicas.
    - title: "Implementación"
      icon: "grid"
      description: |
        Desplegamos su solución en la nube de manera eficiente y segura.
    - title: "Optimización"
      icon: "task-list"
      description: |
        Ajustamos continuamente su infraestructura para maximizar el rendimiento y minimizar costos.
    - title: "Soporte"
      icon: "set-square"
      description: |
        Ofrecemos soporte técnico continuo y monitoreo proactivo.

faq_area:
  enable: true
  title: "¿Por Qué Elegirnos para sus Servicios en la Nube?"
  sub_title: "Servicios en la Nube con Seguridad, Optimización y Soporte 24/7 para Impulsar tu Negocio"
  image: "/assets/images/concept/concept2@2x.png"
  tabs:
    - question: "Experiencia Multi-Cloud"
      answer: |
        Trabajamos con todas las principales plataformas cloud (AWS, Azure, Google Cloud) para ofrecerle la mejor solución.
    - question: "Enfoque en Seguridad"
      answer: |
        Implementamos las mejores prácticas de seguridad en cada aspecto de nuestros servicios..
    - question: "Optimización de Costos"
      answer: |
        Nos enfocamos en maximizar el valor de su inversión en la nube.
    - question: "Soporte 24/7"
      answer: |
        Ofrecemos asistencia continua para garantizar la disponibilidad y rendimiento de sus servicios.
    - question: "Innovación Continua"
      answer: |
        Estamos al día con las últimas tendencias y tecnologías en la nube para mantener su negocio a la vanguardia.

---
<style>

  @media (min-width: 1200px) {
    .container{
      max-width: 877px !important;
    }
  }
</style>

<div class="content-wrapper">

    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

    {% if page.hero_area.enable %}
    <div class="wrapper dark-wrapper">
        <div class="rev_slider_wrapper fullwidth-container">
            <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="">
                        <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                        <div
                            class="tp-caption font-weight-600 color-white text-center"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-165','-165','-165','-145']"
                            data-fontsize="['50','50','35','30']"
                            data-lineheight="['65','65','50','45']"
                            data-width="['1000','1000','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.title}}
                        </div>
                        <!-- /.tp-caption -->
                        <div
                            class="tp-caption font-weight-400 color-white text-center"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-80','-80','-80','-60']"
                            data-fontsize="['50','50','35','30']"
                            data-lineheight="['36','36','36','30']"
                            data-width="['600','600','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.sub_title}}
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
            <div class="divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
        <!-- /.rev_slider_wrapper -->
    </div>
    {% endif %}
    <!-- /.Presentación -->


    {% if page.timeline_area.enable %}
    <div class="services-area">
        <div class="row">
            <div class="col-md-7 mx-auto">
            <div class="space140"></div>
            <h3 class="display-3 text-center">{{page.card_expandible_area.sub_title}}</h3>
            <div class="space40"></div>
        </div>
    </div>
    <section class="section-card-expandible ">
        <div class="section-card-expandible-content">
            <div class="container">
                {% for card in page.card_expandible_area.cards %}
                <input type="radio" name="slide" id="c{{ forloop.index }}" {% if forloop.first %}checked{% endif %}>
                <label for="c{{ forloop.index }}" class="card-expandible-item">
                    <div class="card-expandible-item-row">
                        <div class="card-expandible-item-column-1">
                            <div class="card-expandible-content-vertical">{{card.title_card}}</div>
                        </div>
                        <div class="card-expandible-item-column-2">
                          <h5 class="text-title-content-card">{{card.title_card}}</h5>
                            {% for content in card.content_card%}
                            <div class="card-expandible-content-horizontal">
                                <h5>{{content.sub_title}}</h5>
                                <p>{{content.description}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </label>
                {% endfor %}
            </div>  
        </div>
    </section>
    {% endif %}

    {% if page.timeline_area.enable %}
    <div class="services-area">
        <div class="row">
            <div class="col-md-7 mx-auto">
            <div class="space140"></div>
            <h2 class="title-color color-gray text-center">{{page.timeline_area.title}}</h2>
            <h3 class="display-3 text-center">{{page.timeline_area.sub_title}}</h3>
            <div class="space40"></div>
        </div>
    </div>
    <section class="section-timeline container">
    
        <div class="section-timeline-content">
    
            <div class="section-timeline-wrapper">
              
                {% for item_timeline in page.timeline_area.tabs%}
                {% assign chck_number = forloop.index | modulo: 2 %}
                <!-- 1 -->
                <div class="section-timeline-item {% if chck_number == 1 %} flex-row {% else %} flex-row-reverse {% endif %}">
                    <article class="{% if chck_number == 1 %} flex-row {% else %} flex-row-reverse {% endif %}">
                        <div class="timeline-item-content">
                            {{item_timeline.description}}
                        </div>
                        <div class="timeline-item-title">
                          {{item_timeline.title}}
                        </div>
                    </article>
                    <div class="timeline-item-icon">
                        <i class="jam jam-{{item_timeline.icon}}"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
    </section>
    {% endif %}

    {% if page.faq_area.enable %}
    <div class="wrapper light-wrapper inner-bottom ">
        <div class="space140"></div>
        <div class="container">
            <div class="row">
                {% if page.faq_area.image %}
                <div class="col-lg-6">
                    <figure>
                        <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                    </figure>
                </div>
                {% endif %}
                <div class="space50 d-none d-md-block d-lg-none"></div>
                <div class="space10 d-md-none"></div>
                <div class="col-lg-6 pl-60 pl-md-15">
                    <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                    <div class="space10"></div>
                    <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                    <div class="space20"></div>
                    <div id="accordion-2" class="accordion-wrapper simple">
                        {% for tab in page.faq_area.tabs %}
                        <div class="card">
                            <div class="card-header" id="accordion-heading-2-1">
                                <h5>
                                    <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                        {{tab.question}}
                                    </button>
                                </h5>
                            </div>
                            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>
                                        {{tab.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.accordion-wrapper -->
                </div>
            </div>
        </div>
    </div>
    {% endif %} 


  <!--contact-->
  {% include contact.html %}
  <!-- /contact-->


  {% include footer.html %}

</div>