---
layout: default
title: BI - Innovate
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  title: ""
  sub_title: |
    Sobre Nosotros
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/images/art/bg6.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"

services_area:
  enable: true
  title: "Business Intelligence"
  sub_title: "Transformando datos en decisiones estratégicas con nuestra solución de Business Intelligence"
  services:

    - title: ""
      image: "/assets/innovate/img/capacidad/BI-01.webp"
      description: |
        En INNOVATE, entendemos que los datos son uno de los activos más valiosos para las organizaciones. Nuestra solución de Business Intelligence (BI) está diseñada para convertir datos complejos en información clara y procesable, facilitando una toma de decisiones más informada y eficaz.

two_columns_area_one:
  enable: true
  title: "¿Qué es?"
  sub_title: "Impulsa tu toma de decisiones con nuestra solución integral de Business Intelligence"
  image: "/assets/innovate/img/capacidad/BI-02.jpg"
  description: "Business Intelligence (BI) se refiere a un conjunto de herramientas y procesos que permiten la recolección, análisis y presentación de datos empresariales. Su objetivo es transformar datos brutos en información significativa, ayudando a las empresas a tomar decisiones estratégicas basadas en evidencia."


---
<div class="content-wrapper">
  <style>
    .mision-description{
        position:absolute;
        bottom: 40px; 
        left: 240px;
        height: 260px;
        background-color:  white;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 5px;
        border-radius: 30px;
        padding: 40px;
    
    }
    .vision-description{
        position:absolute;
        bottom: 80px; 
        left: 440px;
        height: 280px;
        background-color:  white;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 5px;
        border-radius: 30px;
        padding: 48px;
    
    }
    .section-mision{
        padding-top: 200px;
        background-color: rgb(242, 242, 242);
        
    }
    .section-vision{
        padding-top: 200px;
        padding-bottom: 150px;
        background-color: rgb(242, 242, 242);
      
        
    }
    .custom-shape-divider-top-1731011143 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 0;
    }
    .custom-shape-divider-top-1731011143 svg {
    
        display: block;
        width: calc(100% + 1.3px);
        height: 158px;
    }
    .custom-shape-divider-top-1731011143 .shape-fill {
     fill: white;
    }   
    .titulo-vision{
        margin-top: 30px;
    }
    .titulo-mision{
        margin-top: 30px;
    }
    
    @media (max-width: 995px) {
        .desktop {
            display: none;
        }
        .tablet {
            display: none;
        }
    .mision-description{
      bottom: -75px;
        left: 0px;
        height: 60%;
        width: 100%;
    }
    .vision-description{
        bottom: -75px;
        left: 0px;
        height: 215px;
        width: 100%;  
    
    }
    .espacio{
      margin-top: 40px;
    }
 

    }
    .imagen-responsiva {
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) !important;
  
    }
    
    
    @media (min-width: 600px) and (max-width: 990px) {
        .desktop {
            display: none;
        }
        .movil {
            display: none;
        }
    
    
    }
    
    
    @media (min-width: 992px) {
        .tablet {
            display: none;
        }
        .movil {
            display: none;
        }
       
    }
 

   
        </style>
    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

  <!-- Presentación -->
  {% if page.hero_area.enable %}
  <div class="wrapper dark-wrapper">
      <div class="rev_slider_wrapper fullwidth-container">
          <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
              <ul>
                  <li data-transition="fade" data-thumb="">
                      <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                                            <!-- /.tp-caption -->

                     
                      <div class="row position-relative" style="height: 100wh;">
                          <div class="col-12 col-md-6 position-relative" style="display: flex; justify-content: center; align-items: center;">
                            
                            <div 
                       
                            >
                            {{page.hero_area.sub_title}}
                            </div>

                          </div>
                          <div class="col-12 col-md-6 position-relative" style="display: flex; justify-content: center; align-items: center;">
                              <img width="300"
                              src="/assets/innovate/img/sobre_nosotros/fondo.jpg" alt="Código en pantalla">
                              
                              
                          </div>
                            
                        </div>
                      </div>
                    </div>
                  </li>
              </ul>
              <div class="tp-bannertimer tp-bottom"></div>
          </div>
          <!-- /.rev_slider -->
          <div class="divider">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                  <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
              </svg>
          </div>
      </div>
      <!-- /.rev_slider_wrapper -->
  </div>
  {% endif %}
  <!-- /.Presentación -->
  <section class="section-mision position-relative" >
    <div class="custom-shape-divider-top-1731011143">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container text-center">
        <div class="row position-relative">
          <div class="col-12 col-md-6">
            <h2 class="titulo-mision">MISION</h2>
          </div>
          <div class="col-12 col-md-6">
            <img src="/assets/innovate/img/sobre_nosotros/mision.jpg" style="border-radius: 15px; width: 100%;">
          </div>
          <div class="mision-description d-flex align-items-center">
            <p style="font-size: 16px; margin-bottom: 0rem;">Nuestra misión es ayudar a las empresas a alcanzar sus metas y objetivos, a través de la implementación de soluciones tecnológicas innovadoras y eficientes. Innovate es tu aliado estratégico para el éxito empresarial.</p></div>
        </div>
    </div>
</section>
<section class="section-vision ">
    <div class="container text-center">
        <div class="row position-relative flex-column-reverse flex-md-row "> 
            <div class="col-12 col-md-6" >
            <img src="/assets/innovate/img/sobre_nosotros/vision.png" style="border-radius: 15px; width: 100%;">
          </div>
          <div class="col-12 col-md-6">
            <h2 class="titulo-vision">VISION</h2>
          </div>
          <div class="vision-description d-flex align-items-center">
            <p style="font-size: 16px; margin-bottom: 0rem;">Ser reconocidos como la empresa líder en la solución de problemáticas empresariales mediante el uso de la tecnología de información (TI), brindando soluciones a medida para cada cliente, con el objetivo de optimizar sus procesos y mejorar su rendimiento empresarial..</p></div>
        </div>
    </div>
</section>
<div class="espacio"> </div>

   
  <!--contact-->
  {% include contact.html %}
  <!-- /contact-->

    {% include footer.html %}
</div>    