---
layout: default
title: BI - Innovate
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  title: "Sobre Nosotros"
  sub_title: |
    Somos un equipo de profesionales apasionados por la tecnología, dedicados a crear soluciones de software innovadoras que transforman desafíos en oportunidades.
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/images/art/bg6.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"

services_area:
  enable: true
  title: "Business Intelligence"
  sub_title: "Transformando datos en decisiones estratégicas con nuestra solución de Business Intelligence"
  services:

    - title: ""
      image: "/assets/innovate/img/capacidad/BI-01.webp"
      description: |
        En INNOVATE, entendemos que los datos son uno de los activos más valiosos para las organizaciones. Nuestra solución de Business Intelligence (BI) está diseñada para convertir datos complejos en información clara y procesable, facilitando una toma de decisiones más informada y eficaz.

two_columns_area_one:
  enable: true
  title: "¿Qué es?"
  sub_title: "Impulsa tu toma de decisiones con nuestra solución integral de Business Intelligence"
  image: "/assets/innovate/img/capacidad/BI-02.jpg"
  description: "Business Intelligence (BI) se refiere a un conjunto de herramientas y procesos que permiten la recolección, análisis y presentación de datos empresariales. Su objetivo es transformar datos brutos en información significativa, ayudando a las empresas a tomar decisiones estratégicas basadas en evidencia."


---
<div class="content-wrapper">
  <style>
    .mision-description{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -36%);
        background-color:  white;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 5px;
        border-radius: 30px;
        padding: 40px;
    }
    .mision-description{
      font-size: 16px;
      margin-bottom: 0rem;
    }
    .text-titulo{
      margin: 35px 60px;;
    }
    .vision-description{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -36%);
        background-color:  white;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 5px;
        border-radius: 30px;
        padding: 48px;
    
    }
    .section-mision{
        padding-top: 200px;
        background-color: rgb(242, 242, 242);
        
    }
    .section-vision{
        padding-top: 200px;
        padding-bottom: 150px;
        background-color: rgb(242, 242, 242);
      
        
    }
    .titulo-vision{
        margin-top: 30px;
    }
    .titulo-mision{
        margin-top: 30px;
    }

    .text-present{
      color: white;
      font-size: 43px;
    }
    
    .img-present{
      width: 100%;
    }
    .altura-present{
      height: 90vh;
    }
    .text-subtitulo{
      font-size: 25px;
      margin: 35px 60px;
      line-height: 50px;
      text-wrap: balance;
    }

    .img-about img{
      border-radius: 15px; 
      width: 100%;
    }
    @media (max-width: 995px) {
      .mision-description{
        top: 85%;
        left: 10%;
        height: 215px;
        width: 100%;
      }
      .vision-description{
        top: 85%;
        left: 10%;
        height: 215px;
        width: 100%;
      }
      .espacio{
        margin-top: 40px;
      }
    
      .altura-present{
      height: 60vh;
    }
    .text-present{
      color: white;
      font-size: 43px;
    }
    }
 
    .altura-presentacion{
      height: 100vh;
    }

    .custom-shape-divider-top-1731011143 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 0;
    }
    .custom-shape-divider-top-1731011143 svg {
        display: block;
        width: calc(100% + 1.3px);
        height: 158px;
    }
    .custom-shape-divider-top-1731011143 .shape-fill {
     fill: white;
    }
    /* Medidas de Boostrap */
    @media (max-width: 576px){
      .altura-presentacion{
        height: 65vh !important;
      }
    .text-present {
      font-size: 24px !important;
      line-height: 35px;
    }
     }
    @media (max-width: 992px){
      .altura-presentacion{
        height: 80vh;
      }
      .text-subtitulo{
          font-size: 13px;
          margin-top: 10px;
          margin: 0px 55px;
          line-height: 25px;
        }
      .text-titulo{
        font-size: 20px;
        margin: 0px 55px;
      }
    }
    
        </style>
    {% include headerup.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

  <!-- Presentación -->
  {% if page.hero_area.enable %}
  <div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page.hero_area.header_image}}">
    <div class="container inner pb-100">
      <div class="space100"></div>
      <div class="row">
        <div class="col-lg-5 col-xl-4">
          {% if page.hero_area.title %}
          <h1 class="display-1" data-aos="fade-up" data-aos-delay="900">{{page.hero_area.title}}</h1>
          <div class="space10"></div>
          {% endif %}
          {% if page.hero_area.sub_title %}
          <p class="lead larger" data-aos="fade-up" data-aos-delay="300">{{page.hero_area.sub_title}}</p>
          <div class="space25"></div>
          {% endif %}
        </div>
        <div class="col-lg-7 col-xl-8">
          <img class="img-present" src="/assets/innovate/img/personas/img7.jpg" alt="Código en pantalla">
        </div>
      </div>
    </div>
    <div class="divider">
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
          <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
      </svg>
    </div>
  </div>
  {% endif %}
  <!-- /.Presentación -->
  <section class="section-mision position-relative" >
    <div class="custom-shape-divider-top-1731011143">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container text-center">
        <div class="row position-relative flex-md-column">
          <div class="col-12 col-lg-12">
            <h2 class="titulo-mision">MISION</h2>
          </div>
          <div class="col-12 col-lg-6  img-about">
            <img src="/assets/innovate/img/sobre_nosotros/mision.jpg">
          </div>
          <div class="mision-description d-flex align-items-center">
            <p>Nuestra misión es ayudar a las empresas a alcanzar sus metas y objetivos, a través de la implementación de soluciones tecnológicas innovadoras y eficientes. Innovate es tu aliado estratégico para el éxito empresarial.</p></div>
        </div>
    </div>
</section>
<section class="section-vision ">
    <div class="container text-center">
        <div class="row position-relative flex-column-reverse"> 
          <div class="col-12 col-lg-6 img-about" >
            <img src="/assets/innovate/img/sobre_nosotros/vision.png">
          </div>
          <div class="col-12 col-lg-12">
            <h2 class="titulo-vision">VISION</h2>
          </div>
          <div class="vision-description d-flex align-items-center">
            <p>Ser reconocidos como la empresa líder en la solución de problemáticas empresariales mediante el uso de la tecnología de información (TI), brindando soluciones a medida para cada cliente, con el objetivo de optimizar sus procesos y mejorar su rendimiento empresarial..</p></div>
        </div>
    </div>
</section>
<div class="espacio"> </div>

   
  <!--contact-->
  {% include contact.html %}
  <!-- /contact-->

    {% include footer.html %}
</div>    